<html lang="en">
  <body>
    <h1><%= title %></h1>
    <ul>
      <% messages.forEach(({username, message, date, id}) => { %> <%-
      include('message', {username, message, date, id, formatDate}); %> <% }) %>
    </ul>
    <a href="/new">New message</a>
    <a href="/">Go home</a>
  </body>
</html>
